.Circuit-Name
  width 940px
  height 26px
  font-family Futura
  font-size 20px
  font-weight bold
  font-style normal
  font-stretch normal
  line-height normal
  letter-spacing normal
  color #4a4a4a
  position: relative
  top 155px
  left 100px

.Circuit-full-descrip
  width 1000px
  height 325px
  font-family Futura
  font-size 14px
  font-weight 500
  font-style normal
  font-stretch normal
  line-height normal
  letter-spacing normal
  text-align justify
  color #4a4a4a
  position: relative
  left 100px
  top 199px
