.Rectangle-3
  width 435px
  height 590px
  box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.5)
  border solid 1px #9b9b9b
  margin 10px

.Rectangle-4
  width 435px
  height 280px
  background-color #d8d8d8
  border solid 1px #979797

.Rectangle-5
  width 425px
  height 590px
  padding 5px


.deck-circuits
  position: relative
  top 20px
  margin: 42px

.Circuit-Name
  width 334px
  height 26px
  font-family Futura
  font-size 18px
  font-weight bold
  font-style normal
  font-stretch normal
  line-height normal
  letter-spacing normal
  color #4a4a4a
  position relative
  left 10px
  top 10px

.Circuit-summary-max
  width 420px
  height 79px
  font-family Futura
  font-size 14px
  font-weight 500
  font-style normal
  font-stretch normal
  line-height normal
  letter-spacing normal
  text-align justify
  color #4a4a4a
  position relative
  left 10px
  top 10px

.Learn-more
  width 150px
  height 40px
  border-radius 5px
  box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.5)
  background-color #f3a5a1
  border solid 1px #4a4a4a
  font-family Futura
  font-size 14px
  font-weight bold
  font-style normal
  font-stretch normal
  line-height normal
  letter-spacing normal
  text-align center
  color #4a4a4a
  position relative
  top 50px

.-nights-and-stops
  width 334px
  height 24px
  font-family Futura
  font-size 18px
  font-weight bold
  font-style normal
  font-stretch normal
  line-height normal
  letter-spacing normal
  color #4a4a4a
  position relative
  left 10px
  top 10px

.star-ip
  width 15px
  height 15px

.Highlight
  width 404px
  height 21px
  font-family Futura
  font-size 14px
  font-weight 500
  font-style normal
  font-stretch normal
  line-height normal
  letter-spacing normal
  color #4a4a4a

.highlights-div
  position relative
  left 10px
  top 10px

.Our-recommendations
  width 800px
  height 26px
  font-family Futura
  font-size 20px
  font-weight 500
  font-style normal
  font-stretch normal
  line-height normal
  letter-spacing normal
  color #4a4a4a
  position relative
  top 61px
  left 42px

.Not-what-youre-look
  width 780px
  height 31px
  font-family Futura
  font-size 24px
  font-weight bold
  font-style normal
  font-stretch normal
  line-height normal
  letter-spacing normal
  text-align center
  color #4a4a4a
  position relative
  top: 50px

.contact-us
  width 150px
  height 40px
  border-radius 5px
  box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.5)
  background-color #f3a5a1
  border solid 1px #4a4a4a
  font-family Futura
  font-size 14px
  font-weight bold
  font-style normal
  font-stretch normal
  line-height normal
  letter-spacing normal
  text-align center
  color #4a4a4a
  position relative
  top 80px

.well-design
  width 780px
  height 31px
  font-family Futura
  font-size 24px
  font-weight bold
  font-style normal
  font-stretch normal
  line-height normal
  letter-spacing normal
  text-align center
  color #4a4a4a
  position relative
  top: 110px
