.questions-form
  position: relative
  top: 150px

.male-female
  color #f3a5a1
  margin 20px

.notSelectedGroup
  margin-left: 65px;
  margin-right: 65px;

.selectedGroup
  border solid 1px #4a4a4a;
  border-radius: 25px;
  padding: 5px;
  width: 140px;
  margin-left: 65px;
  margin-right: 65px;

.notSelectedGender
  margin-left: 65px;
  margin-right: 65px;

.selectedGender
  border solid 1px #4a4a4a;
  border-radius: 25px;
  padding: 5px;
  width: 120px;
  margin-left: 65px;
  margin-right: 65px;

.musicIcon
  margin: 30px

.notSelectedMusic
  margin-left: 65px;
  margin-right: 65px;

.selectedMusic
  border solid 1px #4a4a4a;
  border-radius: 25px;
  padding: 5px;
  width: 140px;

.notSelectedSport
  margin-left: 65px;
  margin-right: 65px;

.selectedSport
  border solid 1px #4a4a4a;
  border-radius: 25px;
  padding: 5px;
  width: 140px;

.Were-going-to-ask-y
  width 1150px
  height 52px
  font-family Futura
  font-size 20px
  font-weight 500
  font-style normal
  font-stretch normal
  line-height normal
  letter-spacing normal
  color #4a4a4a
  position: relative
  top: 100px

.button-next
  width 320px
  height 88px
  border-radius 15px
  box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.5)
  background-color #f3a5a1
  border solid 1px #4a4a4a
  position: relative
  top: 50px
  left: 352px
  width 320px
  height 73px
  font-family Futura
  font-size 24px
  font-weight bold
  font-style normal
  font-stretch normal
  line-height normal
  letter-spacing normal
  text-align center
  color #4a4a4a

.questions-text
  width 245px
  height 34px
  font-family Futura
  font-size 20px
  font-weight 500
  font-style normal
  font-stretch normal
  line-height normal
  letter-spacing normal
  color #4a4a4a
