normalize-css()

.navbar-signup
  width 940px
  height 49px
  position: relative
  left: 42px
  top: 54px
  padding 20px 5%
  fixed top left
  width 100%
  height 70px
  shadow-level(2)
  clearfix()

.NAME
  width 257px
  height 37px
  font-family Futura
  font-size 36px
  font-weight 800
  font-style normal
  font-stretch condensed
  line-height normal
  letter-spacing normal
  color #4a4a4a
  position: relative
  left: 25px

.Help
  width 56px
  height 24px
  font-family Futura
  font-size 14px
  font-weight 500
  font-style normal
  font-stretch normal
  line-height normal
  letter-spacing normal
  text-align center
  color #4a4a4a
  position: relative
  left: 695px
  margin: 13px

.noun_880655_cc
  width 20px
  height 29px
  background-color #f3a5a1

.Planning-roadtrips-s
  width 780px
  height 186px
  font-family Futura
  font-size 48px
  font-weight bold
  font-style normal
  font-stretch normal
  line-height normal
  letter-spacing normal
  text-align justify
  color #4a4a4a
  position: relative
  top: 69px
  margin-left: 122px

.button-start
  width 320px
  height 88px
  border-radius 15px
  box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.5)
  background-color #f3a5a1
  border solid 1px #4a4a4a
  position: relative
  top: 118px
  left: 352px
  width 320px
  height 73px
  font-family Futura
  font-size 24px
  font-weight bold
  font-style normal
  font-stretch normal
  line-height normal
  letter-spacing normal
  text-align center
  color #4a4a4a

.highlighted-trips-board
  position: relative
  left: 42px
  top: 49px

.image-trip-welcome
  width 300px
  height 210px
